.h1 {
    color: brown;
    text-align: center;
    font-weight: 800;
}

.article {
    float: left;
    margin-right: 30px;
    padding-left: 150px;
    text-align: center;
}

.para {
    color: brown;
}

.btn-like {
    background: white;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
  }
  
  .btn-like:hover {
    background-color: rgb(250, 7, 7); /* Changer la couleur de fond au survol */
  }
  
  .liked .btn-like {
    color: red; /* Couleur du cœur lorsqu'il est "aimé" */
  }
  
  .prix {
    font-size: x-large;

  }
